{% extends "layout.html"%}
{% block body %}
<html>
<head>
    <h1 style="text-align:center">
      <i>  <b> Online Product Catalogue</b></i> </h1>

      <h3 style="text-align:center">  <i> An online product catalog is an important cornerstone for eCommerce retailers.<br> Creating an immersive, information-rich experience helps eCommerce <br>businesses build interest amongst online visitors and is key to <br>converting potential customers into loyal shoppers.
        </i> </h3>
<style>
    
  body{
    background-color:palevioletred;
  }
</style>
</head>
</html>
{% endblock %}