{% extends "layout.html"%}
{% block body %}
<!DOCTYPE html>
<html>
    
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="C:\Users\Ahmed Riyaz\OneDrive\Desktop\prodcatalog\templates\static\style.css">
  <div class="w3-container"> 
<h1 style="text-align:center"> <i> <b>Welcome<i> </b></h1>

<h3 style="text-align:center;font-size: xx-large">
New User ?? Then Register !! </h3>

<h3 style="text-align:center;font-size:xx-large">Existing User ?? Then Login !! </h3>

<h3 style="text-align:center">
    Login to explore the products </h3>

    <h1 style="text-align:center"> <i> <b> Transforming shopping into an experience.<i> </b></h1>

<style>
  body{
    background-color:palevioletred;
  }
</style>

</div>
</head>
</html>
{% endblock %}